
<!-- FOOTER STARTS -->

<div class="container-fluid footer">
    <div class="section container">
        <footer>
            <div class="row">
            <div class="col-lg-1 block">
                <a href="home.php"><img src="{{ asset ("assets/img/logo.png") }}"  alt=""></a>
                </div>
                <div class="col-lg-2 block">
                    <p>Simplon
                 <br> 64000 PAU,
                <br> FRANCE
                    </p>
                </div>
               
                <div class="col-lg-3 block">
                    <p>FAQs
                <br> Politique
                <br> Shipping
                    </p>
                </div>
                <div class="col-lg-3 block">
                    <p>Travailler chez nous
                <br> Notre Communité
                <br> Vente en Gros
                    </p>
                </div>
                <div class="col-lg-3 block">
                    <div class="media">
                        <ul>
                            <li>
                                <ion-icon name="logo-facebook"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="logo-instagram"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="logo-twitter"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
